#search {
  left: 0 !important;
}

/* Search form css */
.container {
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.twelve {
  flex-basis: 100%;
  width: 100%;
  margin-left: 0;
}

.columns {
  box-sizing: border-box;
  flex: 0 1 auto;
}

.columns:first-child {
  margin-left: 0;
}

@media (min-width: 550px) {
  .columns:first-child {
    margin-left: 0;
  }

  .columns {
    margin-left: 4%;
  }
}

/*
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w $breakpoint-tablet to $breakpoint-desktop
   */
@media screen and (max-width: 800px) {
  .columns {
    min-width: 100%;
  }
}

/* Autocomplete css */
.ac__container {
  z-index: 1;
}

.ac__inner {
  background: #f6f6f6;
}

/* Individual word element */
.ac__word {
  margin: 2px;
  padding: 5px;
  border-top: 1px solid #e1e1e1;
}

.ac__word:first-child {
  border-top: none;
  margin-top: 5px !important;
}

/* Word prefix style. It’s the span containing the search keyword within the word. */
.ac__prefix {
  font-weight: bold;
}

/* Style applied to each words while navigating through the list or on hover */
.ac__word--selected,
.ac__word:hover {
  background-color: #e3e3e3;
}
