/* Autocomplete css */
.ac__container {
  z-index: 1;
}

.ac__inner {
  background: #f6f6f6;
  background-color: #fff;
  border: 1px solid #dedede;
  box-shadow: 1px 1px 4px #dedede;
  font-size: 14px;
}

/* Individual word element */
.ac__word {
  border-top: 1px solid #dedede;
  margin: 0;
  padding: 0px 10px;
}

.ac__word:first-child {
  border-top: none;
  margin-top: 5px !important;
}

/* Word prefix style. It’s the span containing the search keyword within the word. */
.ac__prefix {
  font-weight: bold;
}

/* Style applied to each words while navigating through the list or on hover */
.ac__word--selected,
.ac__word:hover {
  background-color: #e3e3e3;
}
